@import "../../assets/css/theme.scss";

.page {
  position: relative;
  background-color: #FDFDFD;

  .logo{
    width: 200px
  }

  view,
  div {
    box-sizing: border-box;
  }


  .page-title {
    margin-top: 24px;
    color: #474747;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  .page-item {
    padding: 20px;
    .ctl-forward {
      width: 100px;
      position: absolute;
      left: 250px;
      bottom: 250px;
    }

    .ctl-left {
      width: 100px;
      position: absolute;
      left: 100px;
      bottom: 100px;
    }

    .ctl-right {
      width: 100px;
      position: absolute;
      left: 400px;
      bottom: 100px;
    }

    .ctl-back {
      width: 100px;
      position: absolute;
      left: 250px;
      bottom: 100px;
    }

    .ctl-stop {
      width: 100px;
      position: absolute;
      right: 100px;
      bottom: 100px;
    }
  }

  .btn-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .at-button {
      display: inline-block;
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .map-wrap {
    padding: 10px;

    
  }



}
