@import "../../assets/css/theme.scss";

.page {
  position: relative;
  background-color: #FDFDFD;

  view,
  div {
    box-sizing: border-box;
  }

  .page-title {
    margin-top: 24px;
    color: #474747;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  .page-item {
    padding: 40px;
  }

  .joy-back {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 200px;
    left: 50px;
  }

  .joy-txt {
    position: absolute;
    transform: rotate(90deg);
    top: 250px;
    right: 50px;
  }

  .btn-toggle {
    position: absolute;
    top: 40vh;
    right: 50px;
  }

  .btn-a {
    position: absolute;
    transform: rotate(90deg);
    bottom: 300px;
    left: 300px;
  }

  .btn-b {
    position: absolute;
    transform: rotate(90deg);
    bottom: 150px;
    left: 300px;
  }

  .btn-c {
    position: absolute;
    transform: rotate(90deg);
    bottom: 300px;
    left: 150px;
  }

  .btn-d {
    position: absolute;
    transform: rotate(90deg);
    bottom: 150px;
    left: 150px;
  }

  .btn-editor {
    margin-top: 40vh;
  }


}
